#todo-error{
  color: red;
  font-size: 2em;
}

.strike {
  text-decoration: line-through;
}

#bg-image {
  width:  100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#quote {
  font-family: Playball;
}

#todo-card {
background:rgba(255,255,255,.6)
}

#quote-card {
background:rgba(255,255,255,.5)
}

.footer {
  bottom: 0%;
  position: fixed;
}